html, body {
  height:100%
}

body {
  overflow: scroll;
  
}

.gameboard {
  position: relative;
  height: 3000px;
  width: 4240px;
  background-repeat: no-repeat;
  background-position: top;
  
}





.drop-down {
  position: absolute;
  display:none;
  flex-direction: column;
  background-color: black;
}

.character-choice {
  background-color: black;
  color: white;
  border: none;
  font-size: 32px;
  
}

.score {
  background-color: green;
  color: white;
  position: fixed;
  font-size: 32px;
  bottom: 0;
  right:0;
  width: 150px;
  height: 45px;
}